.container {
  background-color: #282C34;
  min-height: 1000px;
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;
}

.postBody {

}

.postFooter {

}


.footer {
  max-width: 720px;
  margin: 5rem auto 0;
}

